/* Event List */
.event-list {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    color: #000;
}

/* Event Card*/
.event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    color: #000;
}

.signed-label {
    margin-top: 0.5rem;
    padding: 2px;
    color: #fff;
    background-color: #26cb4d;
    border-radius: 4px;
}

.event-card:hover {
    background: #f9f9f9;
}

/* Event Form */
.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}

.close-button {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.event-form h2 {
  margin-top: 0;
}

.event-form p {
  margin: 4px 0;
  font-size: 14px;
}

.event-form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}

.event-form select,
.event-form input[type="text"] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* For overflow content in modal popup*/
.modal {
    max-height: 80vh;
    overflow-y: auto;
}