/* Event List */
.event-list {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

/* Event Card*/
.event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
}

.event-card:hover {
    background: #f9f9f9;
}

/* Event Form */
.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-button {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}